In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from numpy import log,dot,e,shape
from sklearn import datasets, metrics, preprocessing

In [ ]:
data = pd.read_csv("/content/student-mat-pass-or-fail.csv")     
data.shape      #Size of data

(395, 30)

In [ ]:
data.head(20)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,traveltime,studytime,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,pass
0,1,1,18,1,0,0,4,4,2,2,...,3,4,1,1,3,6,5,6,6,0
1,1,1,17,1,0,1,1,1,1,2,...,3,3,1,1,3,4,5,5,6,0
2,1,1,15,1,1,1,1,1,1,2,...,3,2,2,3,3,10,7,8,10,1
3,1,1,15,1,0,1,4,2,1,3,...,2,2,1,1,5,2,15,14,15,1
4,1,1,16,1,0,1,3,3,1,2,...,3,2,1,2,5,4,6,10,10,1
5,1,0,16,1,1,1,4,3,1,2,...,4,2,1,2,5,10,15,15,15,1
6,1,0,16,1,1,1,2,2,1,2,...,4,4,1,1,3,0,12,12,11,1
7,1,1,17,1,0,0,4,4,2,2,...,1,4,1,1,1,6,6,5,6,0
8,1,0,15,1,1,0,3,2,1,2,...,2,2,1,1,1,0,16,18,19,1
9,1,0,15,1,0,1,3,4,1,2,...,5,1,1,1,5,0,14,15,15,1
10,1,1,15,1,0,1,4,4,1,2,...,3,3,1,2,2,0,10,8,9,0
11,1,1,15,1,0,1,2,1,3,3,...,2,2,1,1,4,4,10,12,12,1
12,1,0,15,1,1,1,4,4,1,1,...,3,3,1,3,5,2,14,14,14,1
13,1,0,15,1,0,1,4,3,2,2,...,4,3,1,2,3,2,10,10,11,1
14,1,0,15,1,0,0,2,2,1,3,...,5,2,1,1,3,0,14,16,16,1
15,1,1,16,1,0,1,4,4,1,1,...,4,4,1,2,2,4,14,14,14,1
16,1,1,16,1,0,1,4,4,1,3,...,2,3,1,2,2,6,13,14,14,1
17,1,1,16,1,0,1,3,3,3,2,...,3,2,1,1,4,4,8,10,10,1
18,1,0,17,1,0,1,3,2,1,1,...,5,5,2,4,5,16,6,5,5,0
19,1,0,16,1,1,1,4,3,1,1,...,1,3,1,3,5,4,8,10,10,1

In [ ]:
class LogisticRegression:

    def __init__(self,x,y):      
        self.intercept = np.ones((x.shape[0], 1))  
        self.x = np.concatenate((self.intercept, x), axis=1)
        self.weight = np.zeros(self.x.shape[1])
        self.y = y
        
        #Standerization
    def standardize(x):
        for i in range(shape(x)[1]):
          x[:,i] = (x[:,i] - np.mean(x[:,i]))/np.std(x[:,i])     
     
    #Sigmoid method
    def sigmoid(self, x, weight):
        z = np.dot(x, weight)
        return 1 / (1 + np.exp(-z))
     
    #method to calculate the Loss
    def loss(self, h, y):
        return (-y * np.log(h) - (1 - y) * np.log(1 - h)).mean()
     
    #Method for calculating the gradients
    def gradient_descent(self, X, h, y):
        return np.dot(X.T, (h - y)) / y.shape[0]
 
     
    def fit(self, lr , iterations):
        for i in range(iterations):
            sigma = self.sigmoid(self.x, self.weight)
             
            loss = self.loss(sigma,self.y)
 
            dW = self.gradient_descent(self.x , sigma, self.y)
             
            #Updating the weights
            self.weight -= lr * dW
 
        return print('fitted successfully to data')
     
    #Method to predict the class label.
    def predict(self, x_new , treshold):
        x_new = np.concatenate((self.intercept, x_new), axis=1)
        result = self.sigmoid(x_new, self.weight)
        result = result >= treshold
        y_pred = np.zeros(result.shape[0])
        for i in range(len(y_pred)):
            if result[i] == True: 
                y_pred[i] = 1
            else:
                continue
                 
        return y_pred

In [ ]:
from sklearn import datasets, metrics, preprocessing
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
data = pd.read_csv("/content/student-mat-pass-or-fail.csv")
#Loading the data

x = data.iloc[:, [ 0,1, 2, 3, 5]].values
y = data.iloc[:, 6].values
 


#creating the class Object
regressor = LogisticRegression(x,y)
 
#
regressor.fit(0.1 , 4000)
 
 
y_pred = regressor.predict(x,0.5)
 
print('accuracy is {}'.format(sum(y_pred == y) / y.shape[0]))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: RuntimeWarning: divide by zero encountered in log
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in multiply

fitted successfully to data
accuracy is 0.14936708860759493